.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.test-border {
  border: 1px dashed red;
}
.test-border-blue {
  border: 1px dashed blue;
}
.test-border-green {
  border: 1px dashed green;
}
.test-background {
  background-color: yellow;
}
.test-background-orange {
  background-color: orange;
}
.test-background-purple {
  background-color: purple;
}
.margin-padding-reset {
  margin: 0;
  padding: 0;
}
.btn-styling {
  width: 14rem;
  margin: auto;
  padding: 0.25rem 1rem;
  font-size: 2rem;
  border: 1px solid #000;
  border-radius: 5px;
  background: linear-gradient(0deg, hsl(240, 100%, 25%), #1c1cc7);
  color: #FFF;
  box-shadow: 0.3rem 0.5rem 0.5rem #000;
}
.btn-styling:focus {
  outline: none;
}
.btn-styling:hover {
  color: hsl(240, 100%, 25%);
  background: linear-gradient(180deg, #FFF, #cdcdcd);
  cursor: pointer;
  transform: scale(1.15);
}
.btn-styling:active {
  transform: translateY(0.3rem);
  box-shadow: 0.15rem 0.3rem 0.3rem #000;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  background: linear-gradient(160deg, #cdcdcd, #636363);
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;
  box-shadow: 0.35rem 0.5rem 0.5rem #000;
  height: auto;
}
a {
  text-decoration: none;
}
@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  background: linear-gradient(160deg, #cdcdcd, #636363);
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;
  box-shadow: 0.35rem 0.5rem 0.5rem #000;
  height: auto;
}
a {
  text-decoration: none;
}
@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.top {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(180deg, hsl(240, 100%, 25%), #1c1cc7);
  border-bottom: 1px solid #FFF;
  animation: start 1s;
}
.top h1 {
  color: #cdcdcd;
  text-align: center;
  font-size: 3rem;
  font-family: 'Cabin', sans-serif;
}
@media (min-width: 600px) and (max-width: 930px) {
  .top h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 830px) {
  .top h1 {
    font-size: 3rem;
  }
}
.top nav {
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
  justify-content: space-evenly;
  align-items: center;
}
.top nav a {
  margin: 0 0.5rem;
  color: #cdcdcd;
  font-size: 2rem;
  font-family: 'Catamaran', sans-serif;
  white-space: nowrap;
}
.top nav a:hover {
  color: #FFF;
  transform: scale(1.15);
}
.top nav a:active {
  transform: translateY(0.3rem);
}
@media (min-width: 600px) and (max-width: 930px) {
  .top nav a {
    margin: 0 1.5rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 830px) {
  .top nav a {
    margin: 0 3rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  .top nav {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 830px), (min-width: 600px) and (max-width: 930px) {
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
main {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
  animation: start 1.5s;
}
main .main-h2 {
  position: relative;
  bottom: 1.25rem;
  font-family: 'Catamaran', sans-serif;
  font-size: 3rem;
}
@media (min-width: 830px) {
  main .main-h2 {
    font-size: 3.5rem;
  }
}
main p {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
}
main #first-img {
  display: none;
}
main .buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1.5rem;
}
main .buttons #btn-jump {
  visibility: hidden;
  height: 5px;
  width: 5px;
  background-color: yellow;
  position: relative;
  bottom: 14rem;
}
@media (min-width: 600px) and (max-width: 930px) {
  main .buttons #btn-jump {
    bottom: 10rem;
  }
}
@media (min-width: 830px) {
  main .buttons #btn-jump {
    bottom: 12rem;
  }
}
main .buttons .btn {
  width: 14rem;
  margin: auto;
  padding: 0.25rem 1rem;
  font-size: 2rem;
  border: 1px solid #000;
  border-radius: 5px;
  background: linear-gradient(0deg, hsl(240, 100%, 25%), #1c1cc7);
  color: #FFF;
  box-shadow: 0.3rem 0.5rem 0.5rem #000;
  margin: 1rem;
}
main .buttons .btn:focus {
  outline: none;
}
main .buttons .btn:hover {
  color: hsl(240, 100%, 25%);
  background: linear-gradient(180deg, #FFF, #cdcdcd);
  cursor: pointer;
  transform: scale(1.15);
}
main .buttons .btn:active {
  transform: translateY(0.3rem);
  box-shadow: 0.15rem 0.3rem 0.3rem #000;
}
@media (min-width: 830px), (min-width: 600px) and (max-width: 930px) {
  main .buttons {
    display: flex;
    flex-direction: row;
  }
}
main .sections {
  display: flex;
  flex-direction: column;
}
@media (min-width: 830px) {
  main .sections {
    display: flex;
    flex-direction: row;
  }
}
main .sections #app-jump {
  visibility: hidden;
  height: 5px;
  width: 5px;
  background-color: red;
  position: relative;
  bottom: 14rem;
}
@media (min-width: 600px) and (max-width: 930px) {
  main .sections #app-jump {
    bottom: 8rem;
  }
}
@media (min-width: 830px) {
  main .sections #app-jump {
    bottom: 10rem;
  }
}
main .sections section {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 830px) {
  main .sections section {
    margin: 0 2rem;
  }
}
main .sections section h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 2rem;
}
@media (min-width: 830px) {
  main .sections section h3 {
    order: 2;
    font-size: 2.5rem;
  }
}
main .sections section img {
  max-width: 75%;
  min-width: 50%;
  border-radius: 5px;
  margin: 2rem 0;
}
@media (min-width: 830px) {
  main .sections section img {
    order: 1;
  }
}
main .sections section .text-section {
  margin: 0;
  padding: 0;
  text-align: justify;
  width: 75%;
}
@media (min-width: 830px) {
  main .sections section .text-section {
    order: 3;
  }
}
main .email-form {
  display: flex;
  flex-direction: column;
  transform: scale(1.25);
}
main .email-form .margin {
  margin: 1rem;
}
main .email-form .email-name {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) and (max-width: 930px), (min-width: 830px) {
  main .email-form .email-name {
    display: flex;
    flex-direction: row;
  }
}
main .email-form textarea {
  resize: none;
}
main .email-form #submit {
  width: 14rem;
  margin: auto;
  padding: 0.25rem 1rem;
  font-size: 2rem;
  border: 1px solid #000;
  border-radius: 5px;
  background: linear-gradient(0deg, hsl(240, 100%, 25%), #1c1cc7);
  color: #FFF;
  box-shadow: 0.3rem 0.5rem 0.5rem #000;
}
main .email-form #submit:focus {
  outline: none;
}
main .email-form #submit:hover {
  color: hsl(240, 100%, 25%);
  background: linear-gradient(180deg, #FFF, #cdcdcd);
  cursor: pointer;
  transform: scale(1.15);
}
main .email-form #submit:active {
  transform: translateY(0.3rem);
  box-shadow: 0.15rem 0.3rem 0.3rem #000;
}
main .contact-info p {
  position: relative;
  top: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}
main .person-container {
  display: flex;
  flex-direction: column;
}
main .person-container .person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  justify-content: space-between;
}
main .person-container .person img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}
main .person-container .person h2 {
  justify-self: baseline;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  text-align: inherit;
}
@media (min-width: 830px) {
  main .person-container .person h2 {
    font-size: 2rem;
  }
}
main .person-container .person h3 {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}
@media (min-width: 830px) {
  main .person-container .person h3 {
    font-size: 1.5rem;
    position: relative;
    bottom: 0;
  }
}
@media (min-width: 830px) {
  main .person-container .person {
    width: 20%;
    margin: 1rem;
  }
}
@media (min-width: 830px) {
  main .person-container {
    display: flex;
    flex-direction: row;
  }
}
main #about-text h3 {
  font-size: 2rem;
  font-family: 'Cabin', sans-serif;
}
main #about-text p {
  margin: auto;
  text-align: center;
  width: 75%;
}
footer {
  margin-top: 3rem;
  padding-top: 0.5rem;
  background: linear-gradient(0deg, hsl(240, 100%, 25%), #1c1cc7);
  color: #cdcdcd;
  width: 100%;
  text-align: center;
  border-top: 1px solid #FFF;
  animation: start 2s;
}
footer a {
  position: relative;
  top: 0.5rem;
  color: #cdcdcd;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.6rem;
}
footer a:hover {
  color: #FFF;
  transform: scale(1.15);
}
footer a:active {
  transform: translateY(0.3rem);
}
footer p {
  font-family: 'Cabin', sans-serif;
}
.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 2rem;
  overflow: hidden;
  width: 70%;
  height: 10rem;
}
.quotes p {
  font-size: 1.5rem;
}
@media (min-width: 830px) {
  .quotes p {
    font-size: 1.75rem;
  }
}
.quotes .quote {
  font-family: 'Cabin', sans-serif;
  display: none;
}
.quotes .quote-selected {
  display: block;
  animation: showQuote 0.5s;
}
.quotes .quote-remove {
  animation: quoteReverse 0.5s;
}
@keyframes showQuote {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes quoteReverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v13/u-4x0qWljRw-Pd8w__g.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Catamaran Regular'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0IIpQoyXQa2RxT7-5r5TRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v13/0QIvMX1D_JOuMwr7Jg.ttf) format('truetype');
}
