.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.test-border {
  border: 1px dashed red;
}
.test-border-blue {
  border: 1px dashed blue;
}
.test-border-green {
  border: 1px dashed green;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  background: #CDCDCD;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 95%;
  height: auto;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  background: #CDCDCD;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 95%;
  height: auto;
}
a {
  text-decoration: none;
}
.top {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000080;
  border-bottom: 1px solid #FFF;
}
.top h1 {
  color: #CDCDCD;
  text-align: center;
  font-size: 3rem;
  font-family: 'Cabin', sans-serif;
}
@media (min-width: 600px) and (max-width: 930px) {
  .top h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 830px) {
  .top h1 {
    font-size: 3rem;
  }
}
.top nav {
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
  justify-content: space-evenly;
  align-items: center;
}
.top nav a {
  margin: 0 0.5rem;
  color: #CDCDCD;
  font-size: 2rem;
  font-family: 'Catamaran', sans-serif;
}
.top nav a:hover {
  color: #FFF;
  transform: scale(1.15);
}
@media (min-width: 600px) and (max-width: 930px) {
  .top nav a {
    margin: 0 1.5rem;
    font-size: 1.25rem;
  }
}
@media (min-width: 830px) {
  .top nav a {
    margin: 0 3rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 830px), (min-width: 600px) and (max-width: 930px) {
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
main {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
}
main h2 {
  position: relative;
  bottom: 1.25rem;
  font-family: 'Catamaran', sans-serif;
  font-size: 3rem;
}
@media (min-width: 830px) {
  main h2 {
    font-size: 3.5rem;
  }
}
main h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 2rem;
}
@media (min-width: 830px) {
  main h3 {
    font-size: 2.5rem;
  }
}
main p {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
}
main .buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1.5rem;
}
main .buttons #btn-jump {
  visibility: hidden;
  height: 5px;
  width: 5px;
  background-color: yellow;
  position: relative;
  bottom: 14rem;
}
@media (min-width: 600px) and (max-width: 930px) {
  main .buttons #btn-jump {
    bottom: 10rem;
  }
}
@media (min-width: 830px) {
  main .buttons #btn-jump {
    bottom: 12rem;
  }
}
main .buttons .btn {
  width: 10rem;
  margin: 1rem;
  padding: 0.25rem 1rem;
  font-size: 2rem;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000080;
  color: #FFF;
}
main .buttons .btn:hover {
  color: #000080;
  background-color: #FFF;
  cursor: pointer;
  transform: scale(1.15);
}
@media (min-width: 830px), (min-width: 600px) and (max-width: 930px) {
  main .buttons {
    display: flex;
    flex-direction: row;
  }
}
main .sections {
  display: flex;
  flex-direction: column;
}
@media (min-width: 830px) {
  main .sections {
    display: flex;
    flex-direction: row;
  }
}
main .sections #app-jump {
  visibility: hidden;
  height: 5px;
  width: 5px;
  background-color: red;
  position: relative;
  bottom: 14rem;
}
@media (min-width: 600px) and (max-width: 930px) {
  main .sections #app-jump {
    bottom: 8rem;
  }
}
@media (min-width: 830px) {
  main .sections #app-jump {
    bottom: 10rem;
  }
}
main .sections section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 830px) {
  main .sections section {
    margin: 0 1rem;
  }
}
@media (min-width: 830px) {
  main .sections section h3 {
    order: 2;
  }
}
main .sections section img {
  width: 75%;
}
@media (min-width: 830px) {
  main .sections section img {
    order: 1;
  }
}
main .sections section p {
  text-align: justify;
}
@media (min-width: 830px) {
  main .sections section p {
    order: 3;
  }
}
main .email-form {
  display: flex;
  flex-direction: column;
}
main .email-form .margin {
  margin: 1rem;
}
main .email-form .email-name {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) and (max-width: 930px), (min-width: 830px) {
  main .email-form .email-name {
    display: flex;
    flex-direction: row;
  }
}
main .email-form textarea {
  resize: none;
}
main .email-form #submit {
  width: 33%;
  margin: auto;
}
main .contact-info {
  font-size: 1.33rem;
}
main .person-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .person-container h2 {
  margin: 1rem;
}
@media (min-width: 830px) {
  main .person-container h2 {
    font-size: 2rem;
  }
}
main .person-container h3 {
  margin: 1rem;
  position: relative;
  bottom: 1.5rem;
}
@media (min-width: 830px) {
  main .person-container h3 {
    font-size: 1.5rem;
    position: relative;
    bottom: 0;
  }
}
main .person-container .person {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .person-container .person img {
  width: 100%;
  height: auto;
  margin: 1rem;
}
@media (min-width: 830px) {
  main .person-container .person {
    width: 20%;
    margin: 1rem;
  }
}
@media (min-width: 830px) {
  main .person-container {
    display: flex;
    flex-direction: row;
    margin: 0 1.5rem;
  }
}
main #about-text p {
  margin: auto;
  text-align: justify;
  width: 85%;
}
footer {
  margin-top: 3rem;
  padding-top: 0.5rem;
  background-color: #000080;
  color: #CDCDCD;
  width: 100%;
  text-align: center;
  border-top: 1px solid #FFF;
}
footer a {
  position: relative;
  top: 0.5rem;
  color: #CDCDCD;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.6rem;
}
footer a:hover {
  color: #FFF;
  transform: scale(1.15);
}
footer p {
  font-family: 'Cabin', sans-serif;
}
.quotes {
  border: 1px dashed red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 2rem;
  overflow: hidden;
  width: 70%;
  height: 6rem;
}
.quotes p {
  font-size: 1.5rem;
}
@media (min-width: 830px) {
  .quotes p {
    font-size: 1.75rem;
  }
}
.quotes .quote {
  font-family: 'Cabin', sans-serif;
  display: none;
}
.quotes .quote-selected {
  display: block;
  animation: showQuote 0.5s;
}
.quotes .quote-remove {
  animation: quoteReverse 0.5s;
}
@keyframes showQuote {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes quoteReverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v13/u-4x0qWljRw-Pd8w__g.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Catamaran Regular'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0IIpQoyXQa2RxT7-5r5TRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v13/0QIvMX1D_JOuMwr7Jg.ttf) format('truetype');
}
