footer {
    margin-top: 3rem;
    // padding: 1rem;
    background-color: @primary;
    color: @secondary;
    width: 100%;
    text-align: center;
    a {
        position: relative;
        top: 0.5rem;
        color: @secondary;
        &:hover {
            color: @white;
        }
    }
}