* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.container {
    background: @secondary-color;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    .flex-column;
    justify-content: center;
    align-items: center;
    // .test-border;
}
img {
    max-width: 95%;
    height: auto;
    // .test-border;
}
a {
    text-decoration: none;
}