main {
    // position: relative;
    // top: 3rem;
    width: 100%;
    padding: 1.5rem;
    .flex-column;
    align-items: center;
    text-align: center;
    z-index: 1;
    // #first-img {
    //     width: 427px;
    //     height: 640px;
    // }
    
    .main-h2 {
        position: relative;
        bottom: 1.25rem;
        font-family: @font2;
        font-size: 3rem;
        // .test-border;
        @media @desktop {
            font-size: 3.5rem;
        }
    }
    p {
        font-family: @font3;
        font-size: 1.5rem;
    }
    
    .buttons {
        position: relative;
        // bottom: 2rem;
        .flex-column;
        // .test-border;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        margin: 1.5rem;
        #btn-jump {
            visibility: hidden;
            height: 5px;
            width: 5px;
            background-color: yellow;
            // position: absolute;
            // top: 15rem;
            position: relative;
            bottom: 14rem;
            @media @tablet {
                bottom: 10rem;
            }
            @media @desktop {
                bottom: 12rem;
            }
        }
        .btn {
            .btn-styling;
            margin: 1rem;
        }
        @media @desktop, @tablet {
            .flex-row;
        }
    }
    .sections {
        .flex-column;
        // .test-border;
        @media @desktop {
            .flex-row;
            
            // padding: 1rem;
        }
        #app-jump {
            visibility: hidden;
            height: 5px;
            width: 5px;
            background-color: red;
            // position: absolute;
            // top: 15rem;
            position: relative;
            bottom: 14rem;
            @media @tablet {
                bottom: 8rem;
            }
            @media @desktop {
                bottom: 10rem;
            }
        }
        section {
            // .test-border;
            .flex-column;
            min-width: 40%;
            align-items: center;
            justify-content: space-evenly;
            @media @desktop {
                margin: 0 2rem;
            }
            h3 {
                font-family: @font1;
                font-size: 2rem;
                @media @desktop {
                    order: 2;
                    font-size: 2.5rem;
                }
            }
            img {
                // .test-border;
                max-width: 75%;
                min-width: 50%;
                border-radius: 5px;
                margin: 2rem 0;
                @media @desktop {
                    order: 1;
                }   
            }
            .text-section {
                .margin-padding-reset;
                text-align: justify;
                width: 75%;
                @media @desktop {
                    order: 3;  
                
                }
            }
        }
    }
    .email-form {
        .flex-column;
        // .test-border;
        // max-width: 66%;
        .margin {
            margin: 1rem;
        }
        .email-name {
            .flex-column;
            // .test-border;
            // justify-content: center;
            @media @tablet, @desktop {
                .flex-row;
                
            }   
        }
        textarea {
            resize: none;
        }
        #submit {
            .btn-styling;  
        }
        transform: scale(1.25);
        
    }
    .contact-info {
        p {
            position: relative;
            top: 1.5rem;
            font-size: 2rem;
            font-weight: bold;
        }
    }
    .person-container {
        .flex-column;
        // .test-border;
        
        .person {
            .flex-column;
            align-items: center;
            margin: 1rem 0;
            justify-content: space-between;
            // .test-border-blue;
            // .test-background;
            
            img {
                width: 100%;
                height: auto;
                border-radius: 5px;
                .margin-padding-reset;
                // .test-border-green;  
            }
            h2 {
                justify-self: baseline;
                width: 100%;
                .margin-padding-reset;
                margin-top: 1rem;
                text-align: inherit;
                // .test-border;
                // .test-background-purple;
                @media @desktop {
                    font-size: 2rem;
                }
            } 
            h3 {
                .margin-padding-reset;
                margin-top: 1rem;
                // position: relative;
                // bottom: 1.5rem;
                // .test-border-green;
                // .test-background-orange;
                // justify-self: flex-end;
                @media @desktop {
                    font-size: 1.5rem;
                    position: relative;
                    bottom: 0;
                }
            }
            @media @desktop {
                width: 20%;
                margin: 1rem;
            }
            
        }
        @media @desktop {
            .flex-row;            
            // margin: 0 1.5rem;
        }
    }
    #about-text {
        h3 {
            font-size: 2rem;
            font-family: @font1;
        }
        p {
            margin: auto;
            text-align: center;
            width: 75%;
            // .test-border;
        }
    }
}