main {
    // position: relative;
    // top: 3rem;
    width: 100%;
    padding: 1.5rem;
    .flex-column;
    align-items: center;
    text-align: center;
    z-index: 1;
    // #first-img {
    //     width: 427px;
    //     height: 640px;
    // }
    
    h2 {
        position: relative;
        bottom: 1.25rem;
        font-family: @font2;
        font-size: 3rem;
        // .test-border;
        @media @desktop {
            font-size: 3.5rem;
        }
    }
    h3 {
        font-family: @font1;
        font-size: 2rem;
        @media @desktop {
            font-size: 2.5rem;
        }
    }
    p {
        font-family: @font3;
        font-size: 1.5rem;
    }
    
    .buttons {
        position: relative;
        // bottom: 2rem;
        .flex-column;
        // .test-border;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        margin: 1.5rem;
        #btn-jump {
            visibility: hidden;
            height: 5px;
            width: 5px;
            background-color: yellow;
            // position: absolute;
            // top: 15rem;
            position: relative;
            bottom: 14rem;
            @media @tablet {
                bottom: 10rem;
            }
            @media @desktop {
                bottom: 12rem;
            }
        }
        .btn {
            width: 10rem;            
            margin: 1rem;
            padding: 0.25rem 1rem;
            font-size: 2rem;
            border: 1px solid @dark;
            border-radius: 5px;
            // box-shadow: ;
            background-color: @primary;
            color: @light;
            // .test-border;
            &:hover {
                color: @primary;
                background-color: @light;
                cursor: pointer;
                transform: scale(1.15);
            }
        }
        @media @desktop, @tablet {
            .flex-row;
        }
    }
    .sections {
        .flex-column;
        // .test-border;
        @media @desktop {
            .flex-row;
            // padding: 1rem;
        }
        #app-jump {
            // display: none;
            visibility: hidden;
            height: 5px;
            width: 5px;
            background-color: red;
            // position: absolute;
            // top: 15rem;
            position: relative;
            bottom: 14rem;
            @media @tablet {
                bottom: 8rem;
            }
            @media @desktop {
                bottom: 10rem;
            }
        }
        section {
            // .test-border;
            .flex-column;
            align-items: center;
            @media @desktop {
                margin: 0 1rem;
            }
            h3 {
                @media @desktop {
                    order: 2;
                }
            }
            img {
                // .test-border;
                width: 75%;
                @media @desktop {
                    order: 1;
                }   
            }
            p {
                text-align: justify;
                @media @desktop {
                    order: 3;
                }
            }
            // #about-text {
            //     p {
            //         .test-border;
            //         width: 66%;
            //     }
            // }
        }
            
    }
    .email-form {
        .flex-column;
        // .test-border;
        // max-width: 66%;
        .margin {
            margin: 1rem;
        }
        .email-name {
            .flex-column;
            // .test-border;
            // justify-content: center;
            @media @tablet, @desktop {
                .flex-row;
            }
            
        }
        textarea {
            resize: none;
        }
        #submit {
            width: 33%;
            margin: auto;
        }
    }
    .contact-info {
        font-size: 1.33rem;
    }
    .person-container {
        .flex-column;
        // .test-border;
        justify-content: space-between;
        
        h2 {
            margin: 1rem;
            // .test-border;
            @media @desktop {
                font-size: 2rem;
            }
        } 
        h3 {
            margin: 1rem;
            position: relative;
            bottom: 1.5rem;
            // .test-border-green;
            @media @desktop {
                font-size: 1.5rem;
                position: relative;
                bottom: 0;
            }
        }
        .person {
            .flex-column;
            align-items: center;
            // .test-border-blue;
            img {
                width: 100%;
                height: auto;
                margin: 1rem;
                // .test-border-green;  
            }
            @media @desktop {
                width: 20%;
                margin: 1rem;
            }
            
        }
        @media @desktop {
            .flex-row;            
            margin: 0 1.5rem;
        }
    }
    #about-text {
        p {
            margin: auto;
            text-align: justify;
            width: 85%;
        }
    }
}