main {
    // position: relative;
    // top: 3rem;
    width: 100%;
    padding: 1.5rem;
    .flex-column;
    align-items: center;
    text-align: center;
    z-index: 1;
    // #first-img {
    //     width: 427px;
    //     height: 640px;
    // }
    h2 {
        position: relative;
        bottom: 1.25rem;
    }
    .quote {
        position: relative;
        bottom: 1rem;
        width: 70%;
    }
    .buttons {
        position: relative;
        // bottom: 2rem;
        .flex-column;
        // .test-border;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        margin: 1.5rem;
        .btn {
            margin: 1rem;
            font-size: 2rem;
            border: 1px solid @black;
            padding: 0.25rem 1rem;
            background-color: @primary;
            color: @white;
            &:hover {
                color: @primary;
                background-color: @white;
                cursor: pointer;
            }
        }
        @media @desktop, @tablet {
            .flex-row;
        }
    }
    .sections {
        .flex-column;
        // .test-border;
        @media @desktop {
            .flex-row
        }
        section {
            // .test-border;
            .flex-column;
            align-items: center;
            h3 {
                @media @desktop {
                    order: 2;
                }
            }
            img {
                // .test-border;
                @media @desktop {
                    order: 1;
                }   
            }
            p {
                @media @desktop {
                    order: 3;
                }
            }
        }
            
    }
    .email-form {
        .flex-column;
        // .test-border;
        // max-width: 66%;
        .margin {
            margin: 1rem;
        }
        .email-name {
            .flex-column;
            // .test-border;
            // justify-content: center;
            @media @tablet, @desktop {
                .flex-row;
            }
            
        }
    }
    .contact-info {
        font-size: 1.33rem;
    }
}