.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.test-border {
    border: 1px dashed red;
}
.test-border-blue {
    border: 1px dashed blue;
}
.test-border-green {
    border: 1px dashed green;
    
}
.test-background {
    background-color: yellow;
}
.test-background-orange {
    background-color: orange;
}
.test-background-purple {
    background-color: purple;
}

.margin-padding-reset {
    margin: 0;
    padding: 0;
}
.btn-styling {
    width: 14rem;            
    margin: auto;
    padding: 0.25rem 1rem;
    font-size: 2rem;
    border: 1px solid @dark;
    border-radius: 5px;
    &:focus {
        outline: none;
    }
    // box-shadow: ;
    background: linear-gradient(0deg, @primary, @primary-variation);
    color: @light;
    // .test-border;
    box-shadow: 0.3rem 0.5rem 0.5rem @dark;
    &:hover {
        color: @primary;
        background: linear-gradient(180deg, @light, @secondary);
        cursor: pointer;
        transform: scale(1.15);
    }
    &:active {
        transform: translateY(0.3rem);
        box-shadow: 0.15rem 0.3rem 0.3rem @dark;
        // background: linear-gradient(180deg, @secondary, @secondary-variation);

    }
}
// .box-shadow1 {
//     box-shadow: ;
// }