.quotes {
    .test-border;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2rem;
    overflow: hidden;
    width: 70%;
    height: 6rem;
    p {
        font-size: 1.5rem;
        @media @desktop {
            font-size: 1.75rem;
        }
    }
    .quote {
        font-family: @font1;
        display: none;
        // .test-border;
    }
    // .active-quote {

    // }
    .quote-selected {
        display: block;
        animation: showQuote .5s;
    }
    .quote-remove {
        animation:  quoteReverse .5s;

    }
}

@keyframes showQuote {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes quoteReverse {
    from {opacity: 1;}
    to {opacity: 0;}
}