.quotes {
    // .test-border;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1rem;
    .quote {
        // width: 70%;
        font-family: @font1;
        // .test-border;
    }
    // .active-quote {

    // }
    .hidden-quote {
        display: none;
    }
}