.top {
    .flex-row;
    justify-content: space-around;
    align-items: center;
    .test-border;
    width: 100%;

    h1 {
    color: @primary-color;
    }
    a {
        text-decoration: none;
    }
}