.top {
    position: sticky;
    top: 0;
    z-index: 2;
    .flex-column;
    // .test-border;
    width: 100%;
    background-color: @primary;
    h1 {
    color: @secondary;
    text-align: center;
    font-size: 2rem;
    }
    nav {
        .flex-row;
        // .test-border;
        padding: 1rem 1.5rem;
        justify-content: space-evenly;
        align-items: center;
        a {
            margin: 0 0.5rem;
            color: @secondary;
            font-size: 1.25rem;
            &:hover {
                color: @white;
            }
            @media @tablet, @desktop{
                margin: 0 1.5rem;
                font-size: 1.25rem;  
            }
            // @media @desktop {
            //     font-size: 1.5rem;
            // }
        }
        
    }
    @media @desktop, @tablet {
        .flex-row;
        justify-content: space-around;
        align-items: center;
    }
}