@primary: #000080;
@secondary: #CDCDCD;
@light: #FFF;
@dark: #000;

@desktop: ~"(min-width: 830px)"; 
@tablet: ~"(min-width: 600px) and (max-width: 829px)"; 

@font1: 'Cabin', sans-serif;
@font2: 'Catamaran', sans-serif;
@font3: 'Lora', serif;